<div style="text-align: center; margin: auto;">

  <main class="flex-shrink-0">

    <p>
    <div class="container" style="margin: 10px;">
      <mat-card class="main-card" style="padding: 100px;">
        <mat-card-header>
          <mat-card-title style="color:darkgray;">Benvenuto {{ (authService.getUserLogged() | async)?.username}}!</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="primary" [whatRole]="admin" routerLink="/cliente/list">Lista clienti</button>
          <button mat-raised-button color="primary" [whatRole]="pizzaiolo" routerLink="/pizza/list" style="margin: 10px;">Lista pizze</button>
          <button mat-raised-button color="primary" [whatRole]="pizzaiolo" routerLink="/ordine/list" style="margin: 10px;">Lista ordini</button>
          <button mat-raised-button color="primary" [whatRole]="pizzaiolo" routerLink="/ordine/create" style="margin: 10px;">Crea ordine</button>
          <button mat-raised-button color="primary" [whatRole]="proprietario" routerLink="/ordine/list" style="margin: 10px;">Report ordini</button>
          <button mat-raised-button color="primary" [whatRole]="proprietario" routerLink="/ordine/dateStats" style="margin: 10px;">Statistiche</button>
          <button mat-raised-button color="primary" [whatRole]="fattorino" routerLink="/ordine/consegne">Ordini da consegnare</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </main>
</div>