<div style="text-align: center; margin: auto;">

  <main class="flex-shrink-0">

    <div class="container" [whatRole]="admin">
      <mat-card class="main-card" style="padding: 100px;">
        <mat-card-header>
          <mat-card-title style="color:darkgray;">Benvenuto su Pizza Store!</mat-card-title>
        </mat-card-header>
        <mat-card-content style='display: flex; align-items: center; flex-direction: row; padding: 20px;'
          class="row g-3">
          <p>
            Using a series of utilities, you can create this jumbotron, just like the one
            in previous versions of Bootstrap.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/cliente/list">Vai a Lista Clienti</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="container" [whatRole]="pizzaiolo">
      <mat-card-content> Se loggo come pizzaiolo</mat-card-content>
    </div>

    <div class="container" [whatRole]="proprietario">
      <mat-card-content> Se loggo come proprietario</mat-card-content>
    </div>

    <div class="container" [whatRole]="fattorino">
      <mat-card-content> Se loggo come fattorino</mat-card-content>
    </div>
  </main>
</div>